@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?19uc5h');
  src:  url('../fonts/icomoon.eot?19uc5h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?19uc5h') format('truetype'),
    url('../fonts/icomoon.woff?19uc5h') format('woff'),
    url('../fonts/icomoon.svg?19uc5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, 
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
  content: "\e900";
}
._icon-arrow-right:before {
  content: "\e901";
}
._icon-facebook:before {
  content: "\e902";
}
._icon-footer-logo:before {
  content: "\e903";
}
._icon-instagram:before {
  content: "\e904";
}
._icon-logo:before {
  content: "\e905";
}
._icon-phone:before {
  content: "\e906";
}
._icon-plus-minus:before {
  content: "\e907";
}
._icon-sound:before {
  content: "\e908";
}
._icon-user:before {
  content: "\e909";
}
._icon-vk:before {
  content: "\e90a";
}
._icon-youtube:before {
  content: "\e90b";
}
